@import '../../../assets/css/global';

.top-header {
    background-color: $Primary-Color;
    min-height: 56px;
    vertical-align: middle;
    //background-image: url(images/sample-logo.png);
    background-image: url(/assets/images/commissions-dept-logo.png);
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    //background-size: 80px auto;
}
