table {
    width: 100%;
}

.tableStyle {
    width: 80%;
    margin: auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    text-align: center;
}

.mat-form-field {
    font-size: 14px;
    width: 40%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

table.mat-table {
    max-height: inherit;
    th.radio-ActionButtons {
        max-width: 70px;
        width: 70px;
    }
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* No record found css */

.noDataFound {
    text-align: center;
}

mat-form-field.has-dollar {
    label.inline-box.left-align {
        left: 1px;
        border-left: 0px;
        border-right: 1px solid #ccc;
    }
    input {
        padding-left: 42px !important;
    }
}

label.dollar-box {
    position: absolute;
    left: 1px;
    padding-right: 0px;
    // height: 32px;
    background: #f7f7f7;
    width: 35px;
    top: -0.53em;
    line-height: 28px;
    text-align: center;
    border-right: 1px solid #ccc;
    color: #252729;
}

//   :host ::ng-deep{
//     .margin-right-none .mat-form-field-wrapper {
//     margin-right: 0px !important;
// }
//   }