<div class="spinner-container loader-svgContainer" *ngIf="showloading ">
    <mat-spinner></mat-spinner>
</div>
<div class="main-content">
    <div class="filter-outerbox filterContianer">
        <div class="example-header data-filterSec padding-none full-widthForm">
            <div class="divRow">
                <div class="full-rowOuter">
                    <h4 class="page-title">Policy manager</h4>
                    <span> </span>
                    <div class="create-newDelegate" matTooltip="This action is disabled as it requires 'Write' access for this module." [matTooltipDisabled]="userdetails?.Permissions[1].Permission === 2">
                        <button class="loader-svg create-button small-size" mat-flat-button [routerLink]="['/policy/CreateNewPolicy',clientId,statusId,getrouteParamters.pageSize,getrouteParamters.pageIndex]" [ngClass]="{'btn-disable': userdetails?.Permissions[1].Permission === 1 || this.clientId=== emptyClientId}">
              Create New Policy
            </button>
                        <button class="loader-svg policy-button small-size" [ngClass]="{'btn-disable': userdetails?.Permissions[1].Permission === 1 }" mat-flat-button [routerLink]="[ '/policy/import-policy',this.getrouteParamters.parentTab, this.getrouteParamters.pageSize, this.getrouteParamters.pageIndex ]">
              Import policy
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divRow">
        <div class="tabs-container">

            <app-policy-manager-left-navigation [isClientChanged]='isClientChanged' (isNavigationChanged)="isNavigationChanged($event)" [totalCount]='totalCount' [pendingCount]='pendingCount' [activeCount]='activeCount' [inactiveCount]='inactiveCount' [isParentHeader]='true'>
            </app-policy-manager-left-navigation>
            <div class="tabs-contentDiv">
                <div class="filter-outerbox filterContianer">
                    <div class="example-header data-filterSec padding-none full-widthForm">
                        <div class="divRow">
                            <div class="full-rowOuter border-none space-between less-height">
                                <div class="left-div">
                                    <div class="select-boxouter select-client">
                                        <label class="label">Client:</label>
                                        <form [formGroup]="client" class="formfield-less-h">
                                            <mat-form-field appearance="outline" class="select-box-UI validation-rightAlign-UI">
                                                <!-- <mat-select formControlName='ClientList' (selectionChange)="GetPoliciesList($event)" class="h">
                                                    <mat-option *ngFor="let clients of ClientList" [value]="clients.ClientId">
                                                        {{clients.Name}}
                                                    </mat-option>
                                                </mat-select> -->
                                                <input type="text" placeholder="Enter client name" aria-label="Number" matInput formControlName='Client'  [matAutocomplete]="auto" >
                                                <mat-spinner [diameter]='20' *ngIf="isSearchLoading"></mat-spinner>
                                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="GetPoliciesList($event)">
                                                    <mat-option *ngFor="let clientList of ClientListing|async " [value]="clientList" >
                                                        {{clientList.Name}}
                                                    </mat-option>
													<mat-option *ngIf="(this.ClientListing | async)?.length === 0" [disabled]="true">
                                                        No Record Found
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </form>
                                    </div>
                                </div>
                                <div class="left-div">
                                    <div class="search-div">
                                        <mat-form-field appearance="outline">
                                            <input matInput placeholder="Search: Policy #, Insured, Payor, Carrier, Product" [(ngModel)]="searchData" (keydown.enter)="doSearch()">
                                        </mat-form-field>
                                        <div class="btn-outerDiv align-withsearchBox search-cancel-btn">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchData='';handleSearchClear($event);" class="icon-cross" *ngIf="searchData">
                        <mat-icon>close</mat-icon>
                      </button>
                                            <button mat-raised-button class="loader-svg pull-left icon-button" mat-button mat-stroked-button (click)="doSearch()">
                        <i class="img-icons search-icn"></i>
                        <label>Search</label>
                      </button>
                                        </div>
                                    </div>

                                    <button class="prim-link-text" (click)='OnAdvanceSearching()'>Advance Search</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="normal-box tableData tablediv listing-table" *ngIf="isListShown">
                    <div class="mat-elevation-z8 tableStyle">
                        <div class="table-outerScroller" style="cursor:pointer;">
                            <app-mi-list [MiListProperties]=MiListProperties (onAfterDataLoaded)="GetMiListResponse($event)" (onPageChange)="OnPaginationChange($event)" (onMenuItemClick)="onMenuItemClick($event)"></app-mi-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--*************************************************************************************************************-->