p.error-section {   
    background: #f2dede;
    padding: 8px 15px 8px 24px;
    margin: -24px;  
    border-bottom: 1px solid #ebccd1;  
    margin-bottom:5px;
    color:#E03F3D; 
    font-size:13px;
    position: relative;
    .close_icon {
      position: absolute;
      right: 20px;
      top: 14px;
      width: 16px;
      height: 16px;
      opacity: 0.3;
    }
    .close_icon:hover {
      opacity: 1;
    }
    .close_icon:before, .close_icon:after {
      position: absolute;
      left: 6px;
      content: ' ';
      height: 10px;
      width: 2px;
      background-color: #a94442;
    }
    .close_icon:before {
      transform: rotate(45deg);
    }
    .close_icon:after {
      transform: rotate(-45deg);
    }
  }

  .popup-footer {
    padding-bottom: 8px !important;
}

.custom-row section  {
  margin-bottom: 5px;
}