<div class="spinner-container loader-svgContainer" *ngIf="showLoader">
  <mat-spinner></mat-spinner>
</div>
<div class="popup-header">
<h4 matDialogTitle>{{data.headingTitle}}</h4>

</div>
<div class="hightlight-box" *ngIf="isError">
  <p class="error-section error-sectionUpdated">{{errorMessage}} <a class="close_icon"(click)='OnClosePopup(false)'></a></p>
</div>
<form [formGroup]='SaveSegment'>
<div class="custom-row">
    <div class="col-4-lg">
        <section>
            <label class="label">Segment Name</label>
            <mat-form-field appearance="outline">
                <input matInput formControlName='SegmentName'>
            </mat-form-field>
            <!-- <mat-error *ngIf="SaveSegment.controls['SegmentName'].errors?.required && SaveSegment.controls['SegmentName'].dirty">Please enter segment name.</mat-error>
            <mat-error *ngIf="SaveSegment.controls['SegmentName'].errors?.maxlength && SaveSegment.controls['SegmentName'].dirty">Segment Name must not exceed 100 characters.</mat-error> -->
        </section>
    </div>
    <div class="col-8-lg">
      <app-mi-list [MiListProperties]=MiListProperties [isFieldSelected]=toggleSelect
      (OnCheckBoxClick)='OnCheckBoxClicked($event)'
    (SelectAllCheckBoxes)='OnSellectAllCheckBoxes()'
    (AfterLoadingData)='onDataLoaded($event)'></app-mi-list>
</div>
</div>
</form>
<div mat-dialog-actions class="align-right popup-footer">
<button mat-raised-button  class="mat-flat-button mat-primary"
[disabled]='!this.SaveSegment.valid'
(click)='OnSave()'>{{data.primaryButton}}</button>
<button mat-button mat-stroked-button [mat-dialog-close]='false'>{{data.secondryButton}}</button>
</div>
