/**
 * @author: Rahul.
 * @Name: reset.password.component.css.
 * @description: contain cutom design for reset form and box.
 * @dated: 20 Aug, 2018.
 * @modified: 20 Aug, 2018
**/

@import '../../../assets/css/global.scss';
@import '../../../assets/css/pre-login-common.scss';
.example-container {
	display: flex;
	flex-direction: column;
}

.example-container>* {
	width: 100%;
}

.example-right-align {
	text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
	display: none;
}

.invalid-error-request {
	color: $Validation-warning;
}

input.example-right-align {
	-moz-appearance: textfield;
}

footer[_ngcontent-c1] {
	margin-top: 40px;
}

.main-container {
	.form-BoxConatiner {
		width: 95%;
		max-width: 400px;
		margin: 0px auto;
		.mat-card {
			padding: 30px 22px 30px 22px;
			float: left;
			width: 100%;
			box-sizing: border-box;
		}
		mat-card-content.mat-card-content {
			padding: 8px;
		}
		.bottom-div {
			.mat-button.link {
				line-height: 36px;
				padding: 0 16px;
				float: left;
				margin-left: -15px;
				color: $Primary-Color;
			}
		}
		/*.list-bootom {
			li {
				// font-size: 11px;
				// line-height: 15px;
				padding-left: 10px;
    padding-right: 1px;
    font-size: 11px;
			}
			li.fade {
				opacity: .5;
			}
		}*/
		.match-height {
			min-height: 328px;
		}
	}
	.mat-card-header-text {
		margin: 0px;
	}
	footer {
		display: block;
	}
	/* .confirmation-box.ng-star-inserted { 
                           padding-top: 0px; position: absolute; left: 0px; right: 0px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); 
                              @media screen and (max-height: 460px) and (orientation: landscape)  { position: relative; top: auto;  -webkit-transform: translateY(0%); -ms-transform: translateY(0%); -webkit-transform: translateY(0%); -o-transform: translateY(0%); transform: translateY(0%)
                              }
               } */
	form .mat-form-field-appearance-outline .mat-form-field-prefix,
	form .mat-form-field-appearance-outline .mat-form-field-suffix {
		top: -4px;
	}
	mat-card-title.mat-card-title.secondTitle {
		font-size: 20px;
	}
	.colorcode
	{
		color: #3455a5 !important;
	}
}