<!-- /**
 * @author: Rahul.
 * @Name: reset.password.component.html.
 * @description: contain Angular Material for reset password component.
 * @dated: 20 Aug, 2018.
 * @modified: 20 Aug, 2018  
**/ -->
<div class="outer-container">
  <main class="main-container">
    <app-pre-login-header></app-pre-login-header>
    <div class="center-align-div">
      <!-- 
 * @author: Ankit.
 * @description:this div shows when Reset password link is Expired.
 * @dated: 10 nov, 2018.
-->
      <div class="form-BoxConatiner wide-width" *ngIf="isValidLinkAPI">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="mg-b10 secondTitle">Reset password link has expired.</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="match-height">
              <p class="mg-b36">Request a new link below. Only the most recent reset password link will work.</p>
              <form class="login-form">
                <div class="bottom-div">
                  <div class="full-row">
                    <div class="full">
                      <app-mi-button  [showSpinner]="showLoader" btnLabel="Forgot Password" routerLink="{{authenUrl.PageRoute.forgotPasswordRoute}}"></app-mi-button>
                      <p>Changed your mind?
                        <a class="link" routerLink="{{authenUrl.PageRoute.loginPageRoute}}">
                          <strong class="colorcode">Go to Sign In</strong>
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- 
 * @author: Ankit.
 * @description:this div shows when Reset password link is not expired and Reset link is valid .
 * @dated: 10 nov, 2018.
-->
      <div class="form-BoxConatiner wide-width" *ngIf="isValidLink">
        <mat-card class="example-card reset-card">
          <mat-card-header>
            <mat-card-title class="mg-b10">Reset password</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="pswd-txt">Enter a new password for your account.</p>
            <form class="login-form">
              <div class="field-outer">
                <label class="label">Email</label>
                <mat-form-field appearance="outline">
                  <input matInput [formControl]="emailFormControl">
                </mat-form-field>
              </div>
              <div class="field-outer pass-field">
                <label class="label">New password</label>
                <mat-form-field appearance="outline">
                  <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" #resetPassword>
                  <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="password.hasError('required') && password.dirty ">
                    {{messageObj.ResetPassswordValidationMessages.ResetPasswrd.required}}
                  </mat-error>
                  <mat-error *ngIf="password.hasError('pattern') && password.dirty ">
                    {{messageObj.ResetPassswordValidationMessages.ResetPasswrd.pattern}}
                  </mat-error>
                </mat-form-field>
                <ul class="charcter-list">
                  <li [class.fade]="PasswordLabelsValidator.lowerCase">One lowercase character</li>
                  <li [class.fade]="PasswordLabelsValidator.special">One special character (@, #, $)</li>
                  <li [class.fade]="PasswordLabelsValidator.upperCase">One uppercase character</li>
                  <li [class.fade]="PasswordLabelsValidator.minEight">8 characters minimum</li>
                  <li [class.fade]="PasswordLabelsValidator.oneNumber">One number</li>
                </ul>
              </div>
              <div class="bottom-div">
                <div class="full-row">
                  <div class="half right">
                    <button mat-flat-button class="pull-right loader-svg" (click)="ResetPassword()" color="primary">
                      <span *ngIf="!showLoader">
                        Reset and Sign in </span>
                      <mat-spinner [diameter]='20' *ngIf="showLoader"></mat-spinner>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="copyright text-center" *ngIf="islevelshow">
        <p>&copy; {{today | date:'yyyy'}} Commissions Dept. All Right Reserved</p>
      </div>
    </div>
  </main>
</div>