<div class="spinner-container loader-svgContainer" *ngIf="showloading">
  <mat-spinner></mat-spinner>
</div>
<div class="main-content">
  <div class="filter-outerbox filterContianer">
    <div class="example-header data-filterSec padding-none full-widthForm">
      <div class="divRow">
        <div class="full-rowOuter space-between">
          <h4 class="page-title">{{title}}</h4>

          <div class="btn-section">
            <!-- <span> -->
            <button class="loader-svg pull-right create-button small-size" (click)='OnAddUpdateCompType("create","")' mat-flat-button >Create Comp Type</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divRow">
    <div class="tabs-container">
      <app-config-manager-left-navigation></app-config-manager-left-navigation>
      <div class="tabs-contentDiv">

        <div class="filter-outerbox filterContianer">
          <div class="example-header data-filterSec padding-none">
            <div class="divRow margin-left-none">
              <div class="full-rowOuter space-between padding-left-none less-height border-none">
                <div class="left-col">
                  <label class="label">Comp Type:</label>
                  <mat-form-field appearance="outline">
                    <mat-select [formControl]='Comptype' (selectionChange)='OnChangeCompType()'>
                      <mat-option *ngFor="let comptype of CompTypesList" [value]="comptype.PaymentTypeId">
                        {{comptype.PaymenProcedureName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="normal-box tableData tablediv listing-table">

          <div class="col-12-lg col-12-md padding-none">
            <!-- <div class="batch-manager">
                  <div class="left-col">
                    <h4 class="page-title mg-t0">Carriers ({{ this.carrierCount}})
                    </h4>
                  </div>
                </div>  -->
            <div class="tableStyle " *ngIf="isCompTypeListFound">
              <app-mi-list [MiListProperties]='MiListProperties' (onMenuItemClick)='OnMenuItemClick($event)'></app-mi-list>
            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
  <!--*************************************************************************************************************-->