<!--
 * @author: Rahul.
 * @Name: forgot-password.component.html.
 * @description: Provide the html for forgot-password flow.
 * @dated: 10 nov, 2018.
-->
<div class="outer-container">
    <main class="main-container">
        <app-pre-login-header></app-pre-login-header>
        <div class="center-align-div">
            <!--
 * @author: Ankit.
 * @description:this div shows when Email sent successfully with registered EmailId .
 * @dated: 10 nov, 2018.
-->
            <div *ngIf="isEmailSendsuccess" class="form-BoxConatiner">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title class="mg-b10">Reset password</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="text-mainSec">
                            <h3 class="confrmation-txt">We just sent a password reset email to
                                <strong>{{this.resSTR}}</strong>
                            </h3>
                            <p>When you receive the email, click on the link inside to reset your password.</p>
                            <p>If you don't see the email after a few minutes, check your spam or junk folders too.</p>
                        </div>
                        <form class="login-form">
                            <div class="row">
                                <div class="bottom-link">
                                    <div class="half align-left">
                                        <a class="mat-button link" routerLink="{{authenUrl.PageRoute.loginPageRoute}}">Back to sign in</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <!--
 * @author: Ankit.
 * @description:this div shows when user click on forgot password button on sigin page .
 * @dated: 10 nov, 2018.
-->
            <div class="form-BoxConatiner" *ngIf="!isEmailSend">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title class="mg-b10">Forgot password</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="pswd-txt">We will send you a password reset link. If you enter your username, the password reset link will be sent to the email account you used during registration. Be sure to check your spam or junk folders too.</p>
                        <form class="login-form">
                            <div class="field-outer">
                                <label class="label">Enter username</label>

                                <mat-form-field appearance="outline" [ngClass]="{'wrongSecurity': showEmailAddressMsg}">
                                    <input matInput [formControl]="emailFormControl" #forgotInput shouldPlaceholderFloat="true" (keyup)="onKey($event)" autofocus>
                                    <mat-error *ngIf="emailFormControl.hasError('required') && emailFormControl.dirty ">
                                        {{messageObj.ForogotResetValidationMessages.forgotemail.required}}
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <p class="login-errorMsg" *ngIf="showInvalidEmailMsg">
                                {{messageObj.ForogotResetValidationMessages.forgotPassword.errMessage}}
                            </p>
                            <p class="login-errorMsg" *ngIf="showEmailAddressMsg">
                                {{messageObj.ForogotResetValidationMessages.forgotPassword.UserNamenotfoundMessage}}
                            </p>
                            <div class="bottom-div">
                                <div class="full-row mg-b70">
                                    <div class="half right">
                                        <button mat-flat-button class="pull-right loader-svg" (click)="forgotPasword()" color="primary">
                      <span *ngIf="!showLoader">Reset password</span>
                      <mat-spinner [diameter]='20' *ngIf="showLoader"></mat-spinner>
                    </button>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-div">
                                <div class="row">
                                    <div class="bottom-link">
                                        <div class="half align-left">
                                            <a class="mat-button link" routerLink="{{authenUrl.PageRoute.loginPageRoute}}">Back to sign in</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <!--
 * @author: Ankit.
 * @description:this div shows when user doesn't have registered email address with Username .
 * @dated: 10 nov, 2018.
-->
            <div class="form-BoxConatiner" *ngIf="isEmailexist">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title class="mg-b10"> Add email address</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="pswd-txt">
                            Enter a valid email address. All notifications from the system will be sent to this address. The email address is not made public and will only be used if you wish to reset password or retrieve username. </p>
                        <form class="login-form">
                            <div class="ContentOuter-div">
                                <div class="field-outer">
                                    <label class="label">Username</label>
                                    <mat-form-field appearance="outline">
                                        <input matInput [formControl]="userFormControls" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="field-outer">
                                    <label class="label">Email</label>
                                    <mat-form-field appearance="outline" [ngClass]="{'wrongSecurity': showEmailAddressMsg}">
                                        <input matInput [formControl]="getemailFormControl" #emailRef>
                                        <mat-error *ngIf="getemailFormControl.hasError('pattern')  && getemailFormControl.dirty">
                                            {{messageObj.EmailValidationMessages.EmailValidate.pattern}}
                                        </mat-error>
                                        <mat-error *ngIf="getemailFormControl.hasError('required') && getemailFormControl.dirty ">
                                            {{messageObj.EmailValidationMessages.EmailValidate.required}}
                                        </mat-error>

                                    </mat-form-field>
                                    <p class="login-errorMsg mg-t5" *ngIf="showInvalidEmailMsg">
                                        {{messageObj.EmailValidationMessages.EmailValidate.patterns}}
                                    </p>
                                </div>

                                <p class="login-errorMsg" *ngIf="showEmailAddressMsg">
                                    {{messageObj.ForogotResetValidationMessages.forgotPassword.EmailIdAlreadyExist}}
                                </p>
                                <div class="bottom-div">
                                    <div class="full-row mg-b36">
                                        <div class="half right">
                                            <button mat-flat-button class="pull-right loader-svg" color="primary" (click)="Getformfieldvalid()">
                        <span *ngIf="!showLoader">Submit</span>
                        <mat-spinner [diameter]='20' *ngIf="showLoader"></mat-spinner>
                      </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-div">
                                <div class="row">
                                    <div class="bottom-link">
                                        <div class="half align-left">
                                            <a class="mat-button link" routerLink="{{authenUrl.PageRoute.loginPageRoute}}">Back to sign in</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="copyright text-center">
                <p>&copy; {{today | date:'yyyy'}} Commissions Dept. All Right Reserved</p>
            </div>
        </div>
    </main>
</div>