 <div class="example-header data-filterSec padding-none full-widthForm">
            <div class="divRow margin-left-none">
              <div class="full-rowOuter flex-start padding-left-none less-height">
                <div class="left-div">
                  <div class="select-boxouter select-client">
                    <label class="label">Client</label>
                     <mat-form-field appearance="outline"> 
                      <mat-select placeholder="Abigale Barry-Mc Mahon">
                        <mat-option >
                          
                        </mat-option>
                      </mat-select> 
                     </mat-form-field> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="example-header data-filterSec  padding-none full-widthForm">
            <div class="divRow Step-ProgressRow margin-left-none">
              <div class="full-rowOuter padding-left-none padding-right-none">
                <div class="progress-divOuter">
                  <ul class="steps steps-progress">
                    <li class="active">
                      <a href="#" title="">
                        <label>STEP 1</label>
                        <span>Enter Details</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" title="">
                        <label>STEP 2</label>
                        <span>Enter Schedules</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
