h3 {
    font-size: 18px;    
}
h4 {
    font-size: 18px;
}
p {
    font-size: 13px;
    color: #495057;   
}
.top , .middle , .bottom {
    max-width: 90%;
}
p.small-txt{
    font-size:12px;
}
h3 .small-txt{
    font-size:12px;
}