<div class="spinner-container loader-svgContainer" *ngIf="showloading">
  <mat-spinner></mat-spinner>
</div>
<div class="main-content">
  <div class="filter-outerbox filterContianer">
    <div class="example-header data-filterSec padding-none full-widthForm">
      <div class="divRow">
        <div class="full-rowOuter">
          <h4 class="page-title">People manager</h4>
          <div class="create-newDelegate">
            <button class="loader-svg pull-right create-button small-size" mat-flat-button (click)='OnCreateDEUser()' >
             Create DEU User
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divRow">
    <div class="tabs-container">
     
      <app-people-manager-left-navigation [agentCount]="agentCount"  [dataEntryUserCount]='dataEntryUserCount' [userCount]="userCount"></app-people-manager-left-navigation>
      <div class="tabs-contentDiv">
        <div class="filter-outerbox filterContianer">
          <div class="example-header data-filterSec padding-none full-widthForm">
            <div class="divRow">
              <div class="full-rowOuter border-none">
                <div class="search-div">
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Search: Username, First and Last name" 
                      [(ngModel)]="searchData" (keydown.enter)="DataSearch()" >
                  </mat-form-field>
                  <div class="btn-outerDiv align-withsearchBox search-cancel-btn">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchData='';handleSearchClear($event);"
                      class="icon-cross" *ngIf="searchData">
                      <mat-icon>close</mat-icon>
                    </button>
                    <button mat-raised-button class="loader-svg pull-left icon-button" mat-button mat-stroked-button (click)="DataSearch()">
                      <i class="img-icons search-icn"></i>
                      <label>Search</label>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="normal-box tableData tablediv listing-table">
           <app-mi-list [MiListProperties]=MiListProperties 
            (onAfterDataLoaded)="GetMiListResponse($event)" (onMenuItemClick)='OnMenuItemClick($event)'></app-mi-list>  
        </div>
      </div>
    </div>
  </div>
</div>
<!--*************************************************************************************************************-->