<div class="spinner-container loader-svgContainer" *ngIf="showLoading">
    <mat-spinner></mat-spinner>
</div>
<div class="main-content">
    <app-breadcrumb [showNickName]="showNickName" [parentTab]="getrouteParamters?.parentTab" [pageName]="textShown" [moduleName]="moduleName" (onPageRedirectionClick)="OnPageRedirection($event,'breadCrumbs')"></app-breadcrumb>
    <div class="divRow">
        <div class="tabs-container" [ngClass]="{' no-leftNavigation':!this.getrouteParamters.userCredentialId}">
            <div *ngIf="this.getrouteParamters.userCredentialId">
                <app-people-manager-left-navigation></app-people-manager-left-navigation>
            </div>
            <div class="tabs-contentDiv">
                <div class="add-editContainer formDesignCustom">
                    <div class="divRow">
                        <div class="white-box">
                            <form class="example-form" [formGroup]="userform" method="">
                                <mat-card class="mat-card-style">
                                    <div class="column-container">
                                        <div class="coloumn-lg-4">
                                            <div class="top-title">
                                                <h4>Personal information</h4>
                                                <p class="require-text">Required field *</p>
                                            </div>
                                            <section class="full-widthRow">
                                                <label class="label">First Name</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="FirstName" autofocus #firstnameref>
                                                    <mat-error *ngIf="(userform.controls['FirstName'].hasError('minlength') || userform.controls['FirstName'].hasError('maxlength')) && userform.controls['FirstName'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Minlength.firstName}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </section>
                                            <section class="full-widthRow">
                                                <label class="label">Last Name</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="LastName">
                                                    <mat-error *ngIf="(userform.controls['LastName'].hasError('minlength') || userform.controls['LastName'].hasError('maxlength')) && userform.controls['LastName'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Minlength.lastName}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </section>
                                            <section class="full-widthRow">
                                                <label class="label">NickName *</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="NickName">
                                                    <mat-error *ngIf="userform.controls['NickName'].errors?.required && userform.controls['NickName'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.NickName.required}}
                                                    </mat-error>
                                                    <mat-error *ngIf="(userform.controls['NickName'].hasError('minlength') || userform.controls['NickName'].hasError('maxlength')) && userform.controls['NickName'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Minlength.nickName}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </section>
                                            <section class="full-widthRow">
                                                <label class="label">BG UserId </label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="BGUserId">
                                                </mat-form-field>
                                            </section>
                                        </div>
                                        <div class="coloumn-lg-4">
                                            <div class="top-title">
                                                <h4>Contact information </h4>
                                            </div>
                                            <section class="full-widthRow fieldwithIcon " *ngIf="isAddressFound">
                                                <label class="label">Address</label>
                                                <mat-form-field appearance="outline" class='hidden'>
                                                    <label class="img-icons search-icn"></label>
                                                    <input matInput placeholder="Search address" formControlName="FormattedAddress">
                                                </mat-form-field>
                                                <app-mi-autocomplete class="search-icn" [postData]="Searchforstring" 
                                                (selAutoData)='GetSelectedAccount($event)' 
                                                (textBoxValue)='getValue($event)'
                                                [editSelValue]='userform?.controls?.FormattedAddress?.value' 
                                                [isdisabled]='this.getLoggedInUserDetails &&this.getLoggedInUserDetails.Permissions[0].Permission === 1'>
                                                </app-mi-autocomplete>
                                                <!-- [dataURL]="url" -->
                                            </section>
                                            <app-phone-input labelName='office phone number' [formGroupData]=this.userform.controls.OfficePhoneNumber>
                                            </app-phone-input>
                                            <app-phone-input labelName='mobile number' [formGroupData]=this.userform.controls.MobileNumber>
                                            </app-phone-input>
                                            <app-phone-input labelName='fax number' [formGroupData]=this.userform.controls.FaxNumber>
                                            </app-phone-input>
                                            
                                        </div>
                                        <div class="coloumn-lg-4">
                                            <div class="top-title">
                                                <h4>Login information</h4>
                                                <p class="require-text">Required field *</p>
                                            </div>

                                            <section class="full-widthRow country-phonrCode">
                                                <label class="label">UserName *</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="UserName">
                                                    <mat-error *ngIf="userform.controls['UserName'].errors?.required && userform.controls['UserName'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.UserName.required}}
                                                    </mat-error>
                                                    <mat-error *ngIf="(userform.controls['UserName'].hasError('minlength') || userform.controls['UserName'].hasError('maxlength')) && userform.controls['UserName'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Minlength.userName}}
                                                    </mat-error>
                                                    <p *ngIf="userNameAlreadyExist" class="error-Validation">{{peoplemanagervalidation.CreateNewAgentErrors.UserAlreadyExist.UserNameExist}}</p>
                                                </mat-form-field>

                                            </section>
                                            <section class="full-widthRow">
                                                <label class="label">Email *</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="Email">
                                                    <mat-error *ngIf="userform.controls['Email'].errors?.required && userform.controls['Email'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.EmailValidate.required}}
                                                    </mat-error>
                                                    <mat-error *ngIf="userform.controls['Email'].errors?.pattern && userform.controls['Email'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.EmailValidate.pattern}}
                                                    </mat-error>
                                                    <p *ngIf="isEmailAlreadyExist" class="error-Validation">{{peoplemanagervalidation.CreateNewAgentErrors.EmailValidate.emailIdAlreadyExist}}</p>

                                                </mat-form-field>
                                            </section>
                                            <section class="full-widthRow password-field">
                                                <label class="label">Password *</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="Password" [type]="hides ? 'password' : 'text'">
                                                    <mat-icon matSuffix (click)="hides = !hides">{{hides ? 'visibility_off' : 'visibility'}}</mat-icon>
                                                    <mat-error *ngIf="userform.controls['Password'].errors?.required && userform.controls['Password'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Password.required}}
                                                    </mat-error>
                                                    <mat-error *ngIf="userform.controls['Password'].hasError('pattern') && userform.controls['Password'].dirty ">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Password.pattern}}

                                                    </mat-error>
                                                </mat-form-field>
                                                <ul class="charcter-list">
                                                    <li [class.fade]="PasswordLabelsValidator.lowerCase">One lowercase character</li>
                                                    <li [class.fade]="PasswordLabelsValidator.special">One special character (@, #, $) </li>
                                                    <li [class.fade]="PasswordLabelsValidator.upperCase">One uppercase character</li>
                                                    <li [class.fade]="PasswordLabelsValidator.minEight">8 characters minimum</li>
                                                    <li [class.fade]="PasswordLabelsValidator.oneNumber">One number</li>
                                                </ul>
                                            </section>

                                            <section class="full-widthRow">
                                                <label class="label">Question *</label>
                                                <mat-form-field appearance="outline">
                                                    <mat-select formControlName="PasswordHintQ">
                                                        <mat-option value="First school">First school</mat-option>
                                                        <mat-option value="First teacher">First teacher</mat-option>
                                                        <mat-option value="First company">First company</mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="userform.controls['PasswordHintQ'].errors?.required && userform.controls['PasswordHintQ'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.questionValid.required}}
                                                    </mat-error>

                                                </mat-form-field>
                                            </section>
                                            <section class="full-widthRow">
                                                <label class="label">Answer *</label>
                                                <mat-form-field appearance="outline">
                                                    <input matInput formControlName="PasswordHintA">
                                                    <mat-error *ngIf="userform.controls['PasswordHintA'].errors?.required && userform.controls['PasswordHintA'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Answer.required}}
                                                    </mat-error>
                                                    <mat-error *ngIf="(userform.controls['PasswordHintA'].hasError('minlength') || userform.controls['PasswordHintA'].hasError('maxlength')) && userform.controls['PasswordHintA'].dirty">
                                                        {{peoplemanagervalidation.CreateNewAgentErrors.Minlength.answer}}
                                                    </mat-error>
                                                </mat-form-field>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="divRow">
                                        <section class="margin-top footer-area full-widthRow">
                                            <button type="submit" mat-raised-button color='primary' class="pull-left mat-flat-button mat-primary coloured-primary-button" [disabled]="getLoggedInUserDetails?.Permissions[0].Permission=== 1" [ngClass]="{'btn-disable': getLoggedInUserDetails?.Permissions[0].Permission === 1}"
                                                (click)='OnSaveUserDetails()'>{{buttonText}}</button>

                                            <button mat-stroked-button class="pull-right" (click)="OnPageRedirection($event,'')">Cancel</button>
                                        </section>
                                    </div>
                                </mat-card>
                            </form>
                            <div class="spinner-container">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>