$Primary-BlueColor : #00558c;
$Validation-warning : #E03F3D;
$Grey-dark : #252729;
$Grey-light : #999;
$black : #000;
$white-color: #fff;
/* $label-color: #252729; */
$menu-hover : rgba(0,0,0,.9);
$link-hover : rgba(242, 250, 255, 1);
$body-background: #f7f7f7;
$button-hover: #006AB0;
$light-blueBackground:  #F2FAFF;
$secondary-button-hover: #f7f7f7;
$transparent : transparent;
$inputfield-color: #ccc;
$Primary-BlueColorOpacity : rgba(0, 85, 140, .6);
$body-color : #f7f7f7;
$input-fieldColor: #495057;
