/*======================= media quey css starts ===============================*/
  /*
@media only screen and (max-width: $Break-Normal) {
    /* search fileter css starts */   /*
     .dashboard-container .data-filterSec .mat-form-field[_ngcontent-c7] , .main-content .data-filterSec mat-form-field.mat-form-field.mat-form-field-type-mat-select{
         width: 100%;
    }
     .dashboard-container .data-filterSec .mat-form-field[_ngcontent-c7]:first-child {
         margin-bottom: 7px;
    }
     .main-content .full-widthForm .mat-form-field-wrapper {
         margin-right: 24px;
    }
     .main-content .full-widthForm .mat-form-field-wrapper {
         margin-right: 0px;
    }
     .data-filterSec .mat-flat-button.mat-primary {
         margin: 0px;
         margin-top: 15px;
    }
    
     .main-content .data-filterSec mat-form-field.mat-form-field.mat-form-field.mat-primary.mat-form-field-type-mat-select {
         margin-top: 0px;
    }
    /* search filter css ends */   /*
     body div .data-filterSec .mat-form-field {
         font-size: $normal-font-size;
         width: 100%;
    }
     .updated-service button.add-group-btn.mat-button.mat-primary, .updated-service a.add-group-btn {
         position: relative;
         top: auto;
         margin-bottom: 10px;
    }
     .date-pickerDiv, .btn-outerDiv, .btn-outerDiv.align-withsearchBox, .align-withsearchBox {
         width: 100%;
         float: left;
    }
     body div .data-filterSec .mat-form-field{
         margin-top: 0px;
    }
   
     .status-div {
         width: 100%;
         float: left;
         margin-bottom: 0px;
         margin-top: 0px;
    }
     .data-filterSec .btn-outerDiv .mat-flat-button.mat-primary, .data-filterSec .btn-outerDiv .mat-stroked-button {
         margin-left: 0px;
    }
     .data-filterSec .btn-outerDiv .mat-flat-button.mat-primary {
         margin: 0px 0px 0px 0px;
    }
    .data-filterSec .btn-outerDiv .mat-stroked-button {
        margin: 1px 0px 0px 0px;
   }
     .main-content .data-filterSec .search-div .btn-outerDiv button.icon-button, .data-filterSec .search-div .btn-outerDiv.align-withsearchBox {
         width: auto;
    }
     .search-div {
         float: left;
         width: 100%;
    }
     .filter-outerbox .date-pickerDiv .mat-form-field:last-child, .main-content .full-widthForm .status-div .mat-form-field-wrapper {
         margin-right: 0px;
    }
     .filter-outerbox .date-pickerDiv .mat-form-field {
         width: 49%;
         margin-right: 8px;
    }
 }
 @media only screen and (max-width: $Break-Small - 1) {
    
     form .mat-form-field[_ngcontent-c8] {
         width: 100%;
    }

 }
 */