// Font Vaiable 
$font-stack : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto ,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
//$font-stack:    Helvetica-font;
//$font-family-bold: Helvetica-bold;
// Color Variable 
$Primary-Color : #3455A5;
$header-bar: #3455A5;
$light : #f7f7f7;
$Grey-dark : #252729;
$Grey-light : #999;
$black : #000;
$font-color-dark: #333;
$white-color: #fff;
$light-blueBackground:  #F2FAFF;
$transparent : transparent;
$Primary-ColorOpacity : rgba(0, 85, 140, .6);
$Primary-ColorLightOpacity : rgba(0, 85, 140, .2);
$body-color : #f7f7f7;
$highlight-color : #FFD069;
$highlight-colorBox : rgb(255, 243, 218);
$primary-border-color:#3455A5;
$secondary-color: #495057;
$dim-gray: #666;

// overlay all over the body

$overlay: rgba(0,0,0,.4);


// Menu link color
 $link-color: #767676;

 // table variable
$hover-color: #FFF6E3;

// Tabs variable
$light-blueBackground-2: #F7f8fc;


// Disabled Input Field color
$disabled : #e6e6e6;

// Disabled left Nav
$nav-disabled : #cccccc;

// Button variable
$stroke-btnBackground : #FAF9F8;

//Validation Varaible 
$Validation-warning: #E03F3D;

//Button Alert
$btn-danger: #E03F3D;
$btn-danger-hover: #F53431;

// Dropdown Menu Mink Varaible
$menu-hover : rgba(0,0,0,.9);
$link-hover : rgba(52, 85, 165, .09);

//Form Variable For Input Fields 
$input-fieldColor-font: #495057;
$paragraph-text-color: #495057;
$page-title: #767676;
$inputfield-color: #ccc;
$checkbox-radio-color:#999999;
$input-disable-field:#e6e6e6;

// Button Variable
$button-hover: #3f65bf;
$Stroke-button-hover: rgba(153, 153, 153, .1);
$button-focus-overlay: rgba(234,241,246,.1);
$secondary-button-hover: #f7f7f7;
$disabled-button:#e3e3e3;

// Font Variable For Size
$title-font-size: 24px;
$normal-font-size: 14px;
$label-font-size: 13px;
$small-font-size: 12px;
$extraSmall-font-size: 11px;
$button-font-size : 13px;



// partion border line
$seprator-linecolor: #e6e6e6;
$color: #e6e6e6;
// table variable 
$border-color: rgba(0,0,0,.1);

//Dialog Box Shadow//
$dialog-shadow:0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
$calendar-shadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);





$black80: #222222;
$black70: #515151;
$black60: #666666;
$black50: #aaaaaa;
$black40: #c4c4c4;
$black30: #f7f7f7;
$black20: #fafafa;
$black10: #f7f8f8;
$black5: #dadce0;
$black0: #f4f4f4;
$white100: #fff;



