// Column //
.col-1-lg {
    width: 8.33%;
}

.col-2-lg {
    width: 16.66%;
}

.col-3-lg {
    width: 24.99%;
}

.col-4-lg {
    width: 33.33%;
}

.col-5-lg {
    width: 41.65%;
}

.col-6-lg {
    width: 50%;
}

.col-7-lg {
    width: 58.32%;
}

.col-8-lg {
    width: 66.67%;
}

.col-9-lg {
    width: 75%;
}

.col-10-lg {
    width: 83.33%;
}

.col-11-lg {
    width: 91.67%;
}

.col-12-lg {
    width: 100%;
}

.col-1-lg,
.col-2-lg,
.col-3-lg,
.col-4-lg,
.col-5-lg,
.col-6-lg,
.col-7-lg,
.col-8-lg,
.col-9-lg,
.col-10-lg,
.col-11-lg,
.col-12-lg {
    @include coloumn-style;
}

// row css //
.custom-row:before,
.custom-row:after {
    display: table;
    content: " ";
}

.custom-row:after {
    clear: both;
}

.custom-row {
    margin-right: -15px;
    margin-left: -15px;
}

@media screen and (max-width: 980px) {
    .col-1-md {
        width: 8.33% !important;
    }
    .col-2-md {
        width: 16.66% !important;
    }
    .col-3-md {
        width: 24.99% !important;
    }
    .col-4-md {
        width: 33.33% !important;
    }
    .col-5-md {
        width: 41.65% !important;
    }
    .col-6-md {
        width: 50% !important;
    }
    .col-7-md {
        width: 58.32% !important;
    }
    .col-8-md {
        width: 66.67% !important;
    }
    .col-9-md {
        width: 75% !important;
    }
    .col-10-md {
        width: 83.33% !important;
    }
    .col-11-md {
        width: 91.67% !important;
    }
    .col-12-md {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .col-12-xs {
        width: 100%;
    }
}


/*.tabs-contentDiv .filter-outerbox .data-filterSec.padding-none.full-widthForm { 

  .divRow {
    @media screen and (max-width : 980px) { 
    margin-left: -24px;
    margin-right: -24px;
}
}
}


.tabs-contentDiv .filter-outerbox .data-filterSec.padding-none.full-widthForm 

  .divRow
{

  background: red  !important;
}*/

@media only screen and (max-width: 980px) {
    .tabs-container .normal-box.tableData.tablediv.listing-table>.custom-row.margin-right-none {
        margin-right: -15px !important;
    }
}

.flex-start {
    justify-content: flex-start !important;
}

.width-100 {
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.height-40 {
    min-height: 40px;
}

.height-36 {
    min-height: 36px;
}

.height-37 {
    min-height: 37px;
}

.float-none {
    float: none !important;
}



.bg-black30 {
background-color: $black30 ;
}
.bg-black40 {
    background-color: $black40 ;
    }
    .bg-black50 {
        background-color: $black50 ;
        }
        .bg-black60 {
            background-color: $black60 ;
            }
            .bg-black70 {
                background-color: $black70 ;
                }
                .bg-black80 {
                    background-color: $black80 ;
                    }
                   